@model CVSiteGrupp18.Models.Projektmodeller.CreateProject

@{
    ViewData["Title"] = "Detaljer för projekt";
}

<h1>@Model.Title</h1>

<p><strong>Beskrivning:</strong> @Model.Description</p>

<p><strong>Startdatum:</strong> @Model.StartDatum?.ToShortDateString()</p>

@if (Model.SlutDatum != null)
{
    <p><strong>Slutdatum:</strong> @Model.SlutDatum?.ToShortDateString()</p>
}else{
	<p><strong>Slutdatum:</strong> Projektet är pågående</p>
}

@if (!string.IsNullOrEmpty(Model.ExternalLink?.ToString()))
{
    <p><strong>Länk:</strong> <a href="@Model.ExternalLink" target="_blank" rel="noreferrer">@Model.ExternalLink</a></p>
}

<h3>Deltagare i projektet:</h3>


<ul>
    @foreach (var projectUser in Model.ProjectUsers)
    {
        @if(projectUser.User.IsPublic){
            <li>@projectUser.User.UserName (@projectUser.User.Email)</li>
        }else{
			<li>@projectUser.User.UserName</li>
        }
        
        @if(User.Identity.Name != projectUser.User.UserName){

            @if(projectUser.User.IsPublic){
                <a asp-controller="Account" asp-action="VisaProfilForAnnanAnvandare" asp-route-id="@projectUser.User.Id" class="btn btn-primary">Visa detaljer</a>
            }else{
				<p class="text-danger">Användaren har en privat profil</p>
                @* <a asp-controller="Message" asp-action="Message" asp-route-id="@projectUser.User.Id" class="btn btn-primary">
                    <i class="bi bi-envelope"></i> Skicka Meddelande
                </a> *@
            }
            
        }else{
			<p class="text-success">Du är med i projektet</p>
        }
       
    }
</ul>

<a asp-controller="Project" asp-action="AllaProjekt" class="btn btn-warning">Tillbaka</a>


