@model IEnumerable<Db.Models.Projektmodeller.CreateProject>

<h1>Mina Projekt</h1>

<a class="btn btn-primary" asp-controller="Project" asp-action="SkapaProjekt">Skapa projekt</a>

<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>Beskrivning</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>@project.Title</td>
                <td>@project.Description</td>
                <td>

                    <div class="d-inline-block">
                        <a asp-controller="Project" asp-action="DetaljerSpecifiktProjekt" asp-route-projectId="@project.ProjectId" class="btn btn-primary d-inline-block">Visa deltagare</a>
                        @if (User.Identity.Name == project.User.UserName)
                        {
                            <a asp-action="RedigeraProjekt" asp-route-id="@project.ProjectId" class="btn btn-warning d-inline-block">Redigera</a>
                            <form asp-action="TaBortProjekt" asp-route-id="@project.ProjectId" method="post" class="d-inline-block">
                                <button type="submit" class="btn btn-danger" onclick="return confirm('Är du säker på att du vill ta bort detta projekt?')">Ta bort</button>
                            </form>
                            <p class="text-success">Skapare</p>
                        }
                        else
                        {
                            <form asp-action="LämnaProjekt" asp-route-projectId="@project.ProjectId" method="post" class="d-inline-block">
                                <button type="submit" class="btn btn-danger">Lämna projekt</button>
                            </form>
                            <p class="text-secondary">Deltagare</p>
                        }
                        
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
